/* Login Page */
.bg-light-important {
    background-color: var(--light-color) !important;
    color: var(--dark-color) !important;
    font-size: 14px !important;
    padding: 1px 17px !important;
    border-radius: 5px !important;
    border: 1px solid #89949F !important;
    width: auto !important
  }
  .bg-dark-important {
    background-color: var(--dark-color) !important;
    color: var(--light-color) !important;
    font-size: 14px !important;
    padding: 1px 17px !important;
    border-radius: 5px !important;
    border: 1px solid #89949F !important;
    width: auto !important
  }
  .login-button {
    background-color: var(--button-bg) !important;
    border: none !important;
  }
  .selected {
    @apply
    bg-[#0980f7ab]
    text-[var(--light-color)]
    border-[1px]
    border-[var(--button-bg)]
  }
  .selected .icon {
    color: var(--light-color) !important;
  }
  /* end of login page */