/* Signup Page */
.input-wrapper {
  @apply
  flex
  flex-col
  mb-[14px];
}
label {
  @apply
  text-sm
  mb-1
  flex
}
input {
  border-radius: 5px !important;
  font-size: 14px;
  padding: 9px;
}
.gpdr {
  @apply
  mt-[19px]
  text-center
}
input[type="checkbox"] {
  @apply
  mr-2
  top-1
  w-4
}
.gpdr-wrapper label {
  justify-content: center !important;
}
.selected {
  @apply
  bg-[#0980f7ab]
  text-[var(--light-color)]
  border-[1px]
  border-[var(--button-bg)]
}
.selected .icon {
  color: var(--light-color) !important;
}
.account-types {
  @apply
  flex pt-3
  pb-3
  my-8 border-[1px] border-[#ccc] cursor-pointer rounded-md
}